html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: $bgPrimary;
}

.app {
  height: 100vh;
  width: 100vw;
  @include setFlex(center, center, column);
  font-family: Arial, Helvetica, sans-serif;
  color: $colorPrimary;
}
