/* Colors */
$colorPrimary: rgb(129, 255, 213);
$bgPrimary: rgb(48, 65, 80);
$bgSecondary: rgb(85, 117, 144);

/* Mixin */
@mixin setFlex($justify, $align, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
