.form {
  @include setFlex(center, flex-start);
  height: 50vh;
  width: 100vw;

  & input {
    display: none;
  }

  & label {
    @include setFlex(center, center);
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 0.2rem;
    background-color: $bgSecondary;
    &:hover {
      width: 13.9rem;
      height: 2.9rem;
      cursor: pointer;
    }
  }
}
